h1{
    color: white;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospac
}
h2{
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
}


a{
color: white;
}
button{
    border-radius: 12px;
    background-color: black;
    margin-right:10px;
    margin-left: 290px;
}

.container{
    margin-bottom: 240px;
    margin-top: 100px;
}

.row{
text-align:right;
}
.container-fluid{
color:black;
text-align: right;
margin-top:150px ;
}
 body{
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     background-image: url(image/photo-1604964432806-254d07c11f32.jpg);
     font-weight: 600;
     font-size: larger;
 }

.updateinfo{
    display: grid;
    float: left;
    box-sizing: border-box;
    width: 45%;
    margin: 1.3em;
    padding: 1.3em;
    border: 2px solid white;
    border-radius: 0.8em;
}
.updateinfo p{
    color: #fff;
    float: left;
}

.updatepassword{
    display: grid;
    float: right;
    box-sizing: border-box;
    width: 45%;
    margin: 1.3em;
    padding: 1.3em;
    border: 2px solid white;
    border-radius: 0.8em;
}
.updatepassword p{
    color: #fff;
    float: left;
}